@font-face {
    font-family: OpenSans;
    src: local(OpenSans-Regular);
}

body{
    max-width: 90%;
    margin: 3%;
    background-image: url("chinesebackground.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    font-family: OpenSans;
}

p{
    font-family: Serif;
    font-size: 20px;
    word-spacing: 3px;
    color: darkblue;
}

a{
    color: #0047cc;
    font-size: 20px;
}


a:visited{
    color: rgba(0, 255, 60, 0.65);
}

a:hover{
    color: red;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: #f6f6b5;
    color: black;
    text-align: center;
    border-style: solid;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    overflow-wrap: break-word;

    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

q{
    font-style: italic;
}

.villager{
    color: rgb(238, 0, 255);
}

.farmer{
    color: lime;
}

header > time{
    background-color: Yellow;
}

table{
    font-size: 18px;
}

.grey{
    background-color: grey;
    color: white;
    text-align: center;
}

.white{
    background-color: white;
    text-align: center;
}

.first{
    font-weight: bold;
}

img{
    float: right;
    margin: 12px;
}

.good{
   text-transform: uppercase;
    color: lime;
}

.bad{
    color: red;
    text-transform: uppercase;
}

blockquote{
    color: darkblue;
}


em{
    font-style: normal;
}